.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.root{
  background-color: #009688d9;
  min-height: 100vh;
}
.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3rem !important;
}

.card{
  height: 800px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  margin: 10px;
  width: 350px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  overflow: hidden;
}

.card-body{
  padding: 0 20px;
  text-align: center;
}
.list{
  display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    text-align: left;
}
.title{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card img{
  height: 250px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.description-text {
  overflow: hidden;
  position: relative;
  max-height: 150px;
  text-align: justify;
  /* margin-right: 0em; */
  padding-right: 16px;
}
.description-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.description-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 26px;
  height: 26px;
  margin-top: 0.2em;
  background: white;
}
li.list-item{
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
li.list-item:last-child{
  border:none
}
span.app-title{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.search select{
  font-size: 20px;
}
